{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
 
</head>
<body>
    <div class="header">
        <div class="navbar">
            <h1 class="title">
                MedXPert
            </h1>
            <ol>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="service/">Service</a></li>
                <li><a href="diagnose/">Diagnose</a></li>
                <li><a href="#">Contact</a></li>
            </ol>
        </div>
    </div>
    <div id="home">
        <div class="HomeContent">
            <div class="left">
                <h1>Welcome to MedXPert</h1>
                <p>Your Final Stop For Early Disease Prediction & Health Improvement</p>
                <li><a href="diagnose/" class="active2">Get Started</a></li>
            </div>
        </div>
    </div>
    
</body>
</html>