{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- Template Main CSS File -->
    <!-- <link href="{% static 'css/style.css'%}" rel="stylesheet"> -->



    <!-- Vendor CSS Files -->
    <link href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="{% static 'css/Service_Style.css'%}" rel="stylesheet">

</head>

<body>
    <div class="header">
        <div class="navbar">
            <h1 class="title">
                MedXPert
            </h1>
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="#" class="active">Service</a></li>
                <li><a href="/diagnose/">Diagnose</a></li>
                <li><a href="#">Contact</a></li>
            </ol>
        </div>
    </div>
    <div id="home">
        <!-- <div class="HomeContent">
            <div class="left">
                <h1>Welcome to MedXPert</h1>
                <p>Your Final Stop For Early Disease Prediction & Health Improvement</p>
            </div>
        </div> -->
        <section id="about" class="about">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                        <!-- {% comment %}  -->
                        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-autoplay="true"></a>  -->
                        <!-- {% endcomment %} -->
                    </div>

                    <div
                        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                        <h3>Services</h3>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-search"></i></div>
                            <h4 class="title"><a href="">Early Disease Prediction</a></h4>
                            <p class="description">Just upload your scan results/image results & wait for the
                                effectively trained models to predcit the disease you have. </p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="icofont-nurse"></i></div>
                            <h4 class="title"><a href="">Get Care Takers</a></h4>
                            <p class="description">Need a personal health assistant when you are away from your loved
                                ones?Not a problem!With VirtuDOc you can simply hire one.</p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a href="">Weekly Health Report</a></h4>
                            <p class="description">Worried about the health of your distant ones?We have got it covered.
                                With our weekly health report generation utility now you can stay relaxed. Let the
                                system work for you! </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="icofont-man-in-glasses"></i></div>
                            <h4 class="title"><a href="">Personalized Diet Advisor</a></h4>
                            <p class="description">Confused what to eat and what not to?Just leave it to the perfectly
                                trained diet advisor system</p>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
    </div>
    <!-- ======= About Section ======= -->


</body>

</html>